.mobileMenu {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;    
    background: rgb(0,0,0);
    background: linear-gradient(175deg, rgba(0,0,0,1) 0%, rgba(35,0,26,1) 62%, rgba(56,51,54,1) 96%, rgba(59,57,57,1) 98%, rgba(59,57,57,1) 100%);
    color: #bebebe;
    text-decoration: none;
    backdrop-filter: blur(2vw);
    padding: 5rem 10vw 5rem 10vw;
    scroll-behavior: smooth;
}

.mobileMenu {
    display: grid;
    grid-template-rows: 1fr 9fr;
}
.mobileMenuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileMenuLogo {
    font-size: 3em;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(3, 169, 244, 0.33), rgba(244, 65, 165, 0.33), rgba(255, 235, 59, 0.33), rgba(3, 169, 244, 0.33));
    background-size: 400%;
    border-radius: 5rem;
    z-index: 2;
    transition: linear 250ms;
}

.closeButton {
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    transform: scale(2.5);
    transition: linear 250ms;
}

.mobileMenuItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

.mobileMenuItemTitle {
    font-size: 1.5em;
    background: linear-gradient(90deg, rgba(3, 169, 244, 0.66), rgba(244, 65, 165, 0.66), rgba(255, 235, 59, 0.66), rgba(3, 169, 244, 0.66));
    background-size: 400%;
    border-radius: 5rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    transition: linear 250ms;
    cursor: pointer;
}

.closeButton:hover {
    transform: scale(1.5);
    animation: animate 8s linear infinite;
}

.mobileMenuItemTitle:hover {
    transform: scale(1.5);
    animation: animate 8s linear infinite;
}

.mobileMenuItemContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-template-rows: 1fr 1fr;
    transition: linear 250ms;
}

.mobileMenuItemContentItem {
    background: linear-gradient(90deg, rgba(3, 169, 244, 0.66), rgba(244, 65, 165, 0.66), rgba(255, 235, 59, 0.66), rgba(3, 169, 244, 0.66));
    background-size: 400%;
    border-radius: 5rem;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    transition: linear 250ms;
    cursor: pointer;
    padding: 1em;
}

.mobileMenuItemContentItem:hover {
    transform: scale(1.2);
    animation: animate 8s linear infinite;
}